<div class="w-full bg-white rounded-2xl">
  <div class="border-b border-gray-300 p-4 flex flex-row items-center">
    <div class="w-full flex flex-row items-center gap-4 text-[#B5B5B5]">

      <div class="flex-1 h-[40px] bg-[#373737] rounded-lg flex flex-row gap-2 items-center px-4 py-2">
        <i class="pi pi-search"></i>
        <input type="text" class="w-full h-full outline-none" placeholder="Pesquise pelo nome">
      </div>
      <div class="flex flex-row items-center gap-4">
        <button class="bg-black text-white px-4 py-2 rounded-full" (click)="goTo()">Novo</button>
        <button class="cursor-pointer">
          <i class="pi pi-refresh text-xl"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="p-4">

    @for(video of videos; track $index) {
      <div class="flex flex-row items-center justify-between px-4 py-2">
        <div class="flex flex-row items-center gap-4">
          <img class="w-[65px] h-[65px] rounded-2xl" [src]="video.thumb" alt="">
          <div class="flex flex-col">
            <span class="font-semibold text-lg">
              {{ video.title }}
            </span>
            <span class="text-gray-400">
              {{ video.createdAt | date:'dd/MM/yyyy hh:mm' }}
            </span>
          </div>
        </div>

        <span>
          {{ video.opened ? 'public' : 'private' }}
        </span>

        <span>Video</span>
        <span>20</span>

        <div class="flex flex-row gap-4">
          <a [routerLink]="['/videos', video.id]" class="flex flex-row items-center gap-2 border border-gray-300 px-4 py-1 rounded-lg">
            <i class="pi pi-pencil"></i>
            <span>Edit</span>
          </a>
          <a [routerLink]="['/videos', video.id]" class="flex flex-row items-center gap-2 border border-gray-300 px-4 py-1 rounded-lg">
            <i class="pi pi-video"></i>
            <span>Medias</span>
          </a>
          <button [disabled]="video.published" class="flex flex-row items-center gap-2 border border-gray-300 px-4 py-1 rounded-lg disabled:bg-gray-200">
            <i class="pi pi-send"></i>
            <span>Published</span>
          </button>
        </div>
      </div>
    }

  </div>
</div>

