<div class="flex flex-col bg-white rounded-2xl p-4">
  <div class="flex flex-row items-center justify-between">
    <span class="font-semibold"> {{ title }} </span>
    <div class="flex flex-row items-center gap-4">
      <button [disabled]="!filePath" class="bg-[#282828] text-white px-4 py-1 rounded-full disabled:bg-gray-200 disabled:text-black" (click)="cleanFile()">
        <i class="pi pi-times"></i>
      </button>
<!--      <button [disabled]="!filePath" (click)="submit()" class="bg-[#282828] text-white px-4 py-1 rounded-full disabled:bg-gray-200 disabled:text-black">-->
<!--        <i class="pi pi-upload"></i>-->
<!--      </button>-->
    </div>
  </div>

  @if (!filePath) {
    <div
      class="h-[250px] bg-gray-50 rounded-2xl p-4 mt-4 flex flex-col items-center justify-center"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
    >
      <i class="pi pi-image text-2xl text-[#727272]"></i>
      <span class="text-gray-400 text-sm">A thumb deve ser no tamanho de 1920 x 1080</span>
      <input type="file" hidden #fileInput (change)="onFileSelected($event)"/>
      <button class="text-sm mt-4" (click)="fileInput.click()">Select file</button>
    </div>
  } @else {
    <div class="h-[250px] rounded-2xl mt-4">
      <img [src]="previewPath" alt="" class="w-full h-full rounded-lg">
    </div>
  }
</div>
